<nav class="navbar navbar-expand-sm  navbar-dark">
    <div class="navbar-brand">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a>  APP LOGO</a>
    </div>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" href="#"><i class="material-icons">settings</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="material-icons">contact_support</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="material-icons">account_circle</i></a>
        </li>
      </ul>
    </div>
  </nav>
<div class="container" style="padding-top: 15px;">
    <div class="row">
        <div class="col-lg-4 col-sm-4">
            <div class="card" style="border: none;">
                <div class="card-header">Doughnut chart</div>
                <div class="card-body">
                    <div style="display: block;">
                        <canvas baseChart 
                          [data]="doughnutChartData"
                          [labels]="doughnutChartLabels"
                          [chartType]="doughnutChartType">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4">
            <div class="card" style="border: none;">
                <div class="card-header">Pie chart</div>
                <div class="card-body">
                    <div style="display: block;">
                        <canvas baseChart 
                            [data]="pieChartData" 
                            [labels]="pieChartLabels" 
                            [chartType]="pieChartType"
                            [options]="pieChartOptions"
                            [plugins]="pieChartPlugins"
                            [legend]="pieChartLegend">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4" >
           <app-barchart></app-barchart>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6" >
          <div class="card" style="border: none;max-height: 40px;">
            <div class="card-header">Bar graph</div>
            <div class="card-body">
              <div style="display: block;">
                <canvas baseChart 
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [plugins]="barChartPlugins"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
                </canvas>
              </div>
            </div>
          </div>
        </div> 
         <div class="col-lg-6">
            <div class="card" style="border: none;">
                <div class="card-header">Table </div>
                <div class="card-body">
                    <div style="display: block;"> 
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>sales</th>
                            <th>value</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor ="let ele of elements">
                            <td>{{ele.sale}}</td>
                            <td>{{ele.value}}</td>
                          </tr>
                        </tbody>
                      </table>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>